ul {
  max-height: 400px;
  overflow: scroll;
  
  li {
    list-style: none;
    padding: 20px 0;
    border-bottom: 2px solid #f2f6f9;

    &:hover {
      cursor: pointer;
      color: rgb(0, 101, 225);
    }
  
    &:last-of-type {
      border: 0;
    }
  }
}

.hide {
  display: none;
}

.show {
  display: block;
}