body {
  border-collapse: collapse;
  display: table;
  font-family: "Proxima Nova",-apple-system,"Helvetica Neue",Helvetica,Roboto,Arial,sans-serif,sans-serif;
  table-layout: fixed;
  background-color: #ebebeb;
}