.menu {
  position: relative;
  height: 80px;
  z-index: 14;
  display: block;

  a {
    text-decoration: none;
    color: #15141f;

    &:hover {
      color: rgb(0, 101, 225);
    }
  }

  nav {
    display: flex;
    align-items: center;
    height: 100%;
    z-index: 14;
    background-color: #ffffff;
    color: #15141f;
    box-shadow: 0 0 40px 0 rgba(16, 36, 94, 0.1);

    .menu-container {
      width: 100%;
      margin: 0 auto;
      padding: 0 2rem;

      a:hover {
        cursor: pointer
      }

      ul {
        display: flex;
        list-style-type: none;
        margin: 0;
        padding: 0;
        align-items: center;

        li:first-of-type {
          padding-left: 0;
        }

        li {
          list-style-type: none;
          margin: 0;
          padding: 0;
          padding-left: 2rem;
        }
      }

      .app-menu{
        width: 100%;

        a {
          text-decoration: none;
          color: #b2b4b7;
      
          &:hover {
            color: #FB452A;
          }
        }

        .user {
          width: 100%;
          display: flex;
          align-items: center;
          flex-direction: row;
          
          &-container {
            width: 100%;
            display: flex;
            align-items: center;

            .profile-pic {
              width: 60px;
              height: 60px;
              border-radius: 50%;
            }
  
            &-loged {
              margin: 0 30px;
              display: flex;
              align-items: center;

              .float_left {
                float: left;
              }

              i.arrow-icon {
                cursor: pointer;
                margin: 0 20px;
              }
  
              &-greetings {
                font-size: 16px;
                color: #b2b4b7;
                margin: 0;
              }
  
              p.user-loged-selected {
                font-size: 18px;
                color: #15141f;
                margin: 8px 0 0;
                font-weight: 600
              }
            }
          }

          li {
            width: 10%;

            span {
              margin-right: 8px;
            }
          }
        }
        
        .logo-container {
          width: 39%;
          border-right: 2px solid #f2f6f9;
          margin-right: 30px;

          .logo {
            float: left;
            max-width: 100px;
          }
        }
      }
    }
  }
}